:root {
    --col-base: rgb(0, 0, 0);
}

html {
    font-size: 1.15vmax;
}

section {
    margin-bottom: 8rem;
}

h1 {
    color: var(--col-base);
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

p {
    color: var(--col-base);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    padding: 0.5rem;
}


/* - - - - - - - - - - - - heading - - - - - - - - - - - - */
.headung-hero {
    padding: 1rem;
}

.headung-title {
    font-size: 2.5rem;
    font-weight: 500;
    box-shadow: 0.2rem 0.2rem 0 0 var(--col-base);
    width: 13rem;
}

.subheadung-hero {
    text-align: center;
}


/* - - - - - - - - - - - - content - - - - - - - - - - - - */
.content-hero {
    text-align: center;
    
}

.content-columns {
    padding: 2rem;
    justify-content: center;
    align-content: center;
}

.content-column {
    position: relative;
    min-width: 20rem;
    min-height: 13rem;
    margin: 1rem;
    margin-top: 0;
    padding: 1rem;
    border-right: double;
    border-bottom: double;
    border-width: 0.4rem;
    border-color: var(--col-base);
    transition: box-shadow 0.6s;
    z-index: 1;
}

.content-column::before {
    position: absolute; content: ""; top: 0; right: 0; bottom: 0; left: 0; z-index: -1;
    background-image: linear-gradient(230deg, hsl(192, 100%, 75%), hsl(300, 100%, 80%));
    transition: opacity 0.4s linear;
    opacity: 0;
}

.content-column:hover {
    box-shadow: 0.15rem 0.15rem var(--col-base);
    cursor: pointer;
}

.content-column:hover::before {
    opacity: 0.4;
}


/* - - - - - - - - - - - - footer - - - - - - - - - - - - */
.footer {
    background-color: transparent;
    border-top: dotted;
    margin-left: 1rem;
    margin-right: 1rem;
    border-width: 0.15rem;
    border-color: var(--col-base);
}


/* - - - - - - - - - - - - HOME - - - - - - - - - - - - */
#welcome h1 {
    text-align: left;
    padding-left: 3vw;
}

/* - - - - - - - - - - - - PRISPEVKY - - - - - - - - - - - - */
.nahoru-button {
    position:fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    text-align:center;
    background-color: rgb(255, 255, 255);
    border: double;
    border-color: var(--col-base);
    border-width: 0.3rem;
  }

#prispevky .cell {
    margin: 1rem;
    border-color: var(--col-base);
    border-style: double;
    border-width: 0.3rem;
}

.prispevek {
    margin-bottom: 5rem;
}

.prispevek p {
    text-align: start;
    padding-left: 5rem;
    padding-right: 5rem;
}