.cell {
    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: inset 0rem 0rem 1rem 0.5rem var(--bg);
}

.cell div {
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.cell .subtitle {
    font-size: 1.7rem;
}

