:root{
    --bg:#131313; /* for content divs */
    --mbg: #303030;  /* html main bg */
    --shadow: 0rem 0rem 1rem 0.3rem #0f0f0f;/* divs shadow for visibility */
    --link: #cdd400;   /* color for clickable links */
    --p_color: rgb(255, 255, 255); 
    --a_color: #c2c2c2;
    --contrast_color: black;
    --title_color:rgb(255, 255, 255);
}

@media only screen and (min-width: 1400px) {
    :root {
        font-size: 15px;
    }
    body {
        padding-left: 15rem;
        padding-right: 15rem;
    }
}

@media only screen and (max-width: 800px) {
    :root {
        font-size: 10px;
    }
    .jakims {
        font-size: 4rem;
    }
}

/*        
        > OBSAH <        
    GENERAL
    GALLERY
    LINKS
    FORUM
    USER POSTS
    GAMING
    HEADER
    PRISPEVKY
    VIDEO
*/

/* GENERAL */
body {
    font-family: Arial;
    /*background: linear-gradient(56deg,rgba(46, 106, 155, 0.25) 0%, rgba(145, 40, 155, 0.25) 50%,rgba(41, 91, 150, 0.25)100%);*/
}

p {
    font-size: 1.3rem;
    color: var(--p_color);
    font-weight: 500;
}

.title {
    font-size: 2.5rem;
    color: var(--title_color);
}

.subtitle {
    font-size: 1.6rem;
    color: var(--p_color);
    padding-left: 2rem;
    padding-right: 2rem;
}

.paragraphed-textos .title {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.paragraphed-textos .subtitle {
    padding-bottom: 1rem;
}

.hero {
    padding-bottom: 3.5rem;
    background-color: var(--bg);
    /* box-shadow: inset 0rem -3.5rem 2rem -2rem var(--mbg), */
    padding-top: 2rem;
    margin-top: 3rem;
}

.header {
    margin-bottom: 6rem;
    background-color: var(--bg);
}

.footer {
    background-color: transparent;
    margin-top: 11rem;
    padding-top: 2rem;
    padding-bottom: 8rem;
}

.footer .column {
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
}

.hero-footer {
    padding-bottom: 2rem;
}

a {
    text-decoration: none;
    font-style: none;
    color: var(--a_color);
}

.my-a {
    text-decoration: underline;
    font-style: italic;
    font-weight: 600;
    color: var(--link);
}

.gogogo {
    font-size: 2rem;
}
.date{
    font-size: 80%;
}

.section_name {
    font-size: 3.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline;
}

/* GALLERY */
#GALLERYSFEATURED {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery_pick {
    background-color: var(--contrast_color);
    box-shadow: var(--shadow);
    padding:0.5rem;
    height: min-content;
    position: relative;
}

.gallery_pick p {
    font-size: 1.1rem;
}

.gallery_pick .cislicko {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    padding: 0.2rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery_pick .cislicko p {
    color: grey;
    font-weight: bold;
}

.gallery_pick .cislicko sub {
    color: grey;
    font-weight: lighter;
    font-size: 70%;
    padding-left: 0.2rem;
}


.gallery_pick .left, .right {
    z-index: 1;
    position: absolute;
    top:1rem;
    bottom: 15%;
}

.right {
    left: 52%;
    right: 1rem;
}

.left {
    left: 1rem;
    right: 52%;
}

/* LINKS */
.hyper_link .cell {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.hyper_link .cell p {
    padding: 1.2rem;
    text-decoration: underline;
    font-style: italic;
    font-weight: bolder;
    font-size: 2.2rem;
}

.hyper_link .jump-grid {
    margin: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.hyper_link .jump {
    margin: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: var(--shadow);
    background-color: var(--contrast_color);
}

.hyper_link .jump p {
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
}


/* GAMING */
.profiles_grid {
    display: flex;
    flex-wrap: wrap;
}

.one_profile {
    background-color: var(--contrast_color);
    padding: 0.5rem;
    box-shadow: var(--shadow);
}

.one_profile .image{
    max-height: 6rem;
    max-width: 6rem;
}

.one_profile .title {
    font-size: 2rem;
}

.profile_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;   
}
.p_item2 {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.p_item2 p {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
.p_item3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0.5rem;
}
.p_item3 p {
    margin: 0.1rem;
}
.pdate {
    font-size: 100%;
    font-style: italic;
}

/* HEADER */
.jakims {
    font-size: 5rem;
    margin-right: 1rem;
    margin-left:1rem
}

.headr-flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
}

.theme-nest {
    position: relative;
    flex:1;
    height: 96px;
    min-width: 96px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.click-nest {
    position: relative;
    height: 96px;
    width: 96px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.click-nest:hover {
    cursor: pointer;
}

.bircle, .wircle, .bircle::before, .wircle::before {
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    position: relative;
}

.theme-nest .bircle {
    background-color: black;
    top:0.5rem;
    right:-1rem;
    z-index: 2;
}

.theme-nest .wircle {
    background-color: white;
    z-index: 1;
    top:-0.5rem;
}

.bircle::before, .wircle::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    box-shadow: 0 0 0.5rem 0.1rem rgba(118, 118, 118, 0.646);
    z-index: -1;
}

/* PRISPEVKY */
.post {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: double;
    border-width: 0.75rem;
    border-color: var(--mbg);
    position: relative;
    z-index: 1;
}

.invs {
    /*class for invisible post to pad other posts*/
    border: none;
} 

.post .title {
    text-shadow: 0 0 0.66rem rgb(0, 0, 0), 0 0 1.32rem rgb(20, 20, 20), 0 0 2rem rgb(39, 39, 39);
}

.post p {
    padding: 2.5rem;
    z-index: 1;
}

.post .imbg1, .imbg2, .imbg3, .imbg{
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
}
.imbg {
    left: 0;
    right: 0;
}
.imbg1 {
    right: 69%;
    left: 0;
}
.imbg2 {
    right: 0;
    left: 69%;
}
.imbg3 {
    right: 30%;
    left: 30%;
}  
.post img {
    opacity: 0.9;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* VIDEO */
.video {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mbg);
    border-style: solid;
    border-color: var(--mbg);
    border-width: 0.5rem;
}

.video-grid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}