:root{
    --bg:rgb(230, 230, 230); /* for content divs */
    --bg2: rgb(230, 230, 230); /* for header and footer */
    --mbg: rgb(201, 201, 201);  /* html bg */
}

@media only screen and (min-width: 1400px) {
    body {
        padding-left: 15rem;
        padding-right: 15rem;
    }
}

@media only screen and (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}

body {
    font-family:Arial;
}

/* GENERAL */
.hero {
    padding-bottom: 2.5rem;
    background-color: var(--bg);
    box-shadow: inset 0rem -3.5rem 2rem -2rem var(--mbg);
    padding-top: 2rem;
}

.header {
    margin-bottom: 3rem;
    background-color: var(--bg2);
}

.hero-footer {
    padding-bottom: 2rem;
}

a {
    text-decoration: none;
    font-style: none;
    color: rgb(61, 61, 61);
}

.my-a {
    text-decoration: underline;
    font-style: italic;
    color: rgb(50, 43, 255);
}

.no-u {
    text-decoration: none;
}

.date{
    font-size: 80%;
}

.section_name {
    font-size: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline;
}

/* NEWS */
.one_new {
    display: inline;
    padding-left: 1rem;
}
/* GALLERY */
.gallery_pick{
    background-color: rgb(255, 255, 255);
    padding:0.5rem;
    height: min-content;
}

/* LINKS */
.hyper_link .cell {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.hyper_link .cell a {
    padding: 1.2rem;
    text-decoration: underline;
    font-style: italic;
}

/* FORUM */
.forum .cell {
    margin-bottom: 1rem;
}
.featured_post {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(248, 248, 248);
    border-radius: 2rem;
    position: relative;
}

.featured_post .user_info {
    display: inline-flex;
    align-items: center;
    background-color: yellowgreen;
    padding-right: 1rem;
    padding-left: 0.5rem;
    border-radius: 2rem;
}

.featured_post .user_info .image {
    border-radius: 2rem;
    margin: 0.3rem
}

.featured_post .user_info .title {
    margin-left: 0.5rem;
}   

.featured_post .message {
    display: inline-flex;
    align-items: center;
    padding: 0.8rem;
}

.featured_post .reply_button{
    position: absolute;
    height: 32px;
    width: 70px;
    background-color: rgb(205, 205, 205);
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 0.8rem;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

/*USER POSTS*/
.post_box {
    background-color: rgb(254, 255, 171);
    border-radius: 2rem;
    padding: 0;
    margin: 3rem;
    height: min-content;
}

.post_box .poster_info {
    border-bottom: solid;
    border-color: var(--bg);
    border-bottom-width: 0.5rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 232);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 0.5rem;

}

.post_box .subtitle {
    padding: 1rem;
}

.post_box .poster_info .title {
    margin-left: 1rem;
}

.post_box .poster_info .image {
    border-radius: 2rem;
}

/* FOOTER */

.footer {
    background-color: var(--mbg);
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.footer .column {
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
}