:root{
    --bg:rgb(240, 240, 240); /* for content divs */
    --bg2: rgb(240, 240, 240); /* for header and footer */
    --mbg: rgb(207, 207, 207);  /* html bg */
    --shadow: 0rem 0rem 1rem 0.3rem rgb(195, 195, 195);
}

@media only screen and (min-width: 1400px) {
    :root {
        font-size: 15px;
    }
    body {
        padding-left: 15rem;
        padding-right: 15rem;
    }
}

@media only screen and (max-width: 800px) {
    :root {
        font-size: 10px;
    }
}

/*        
        > OBSAH <        
    GENERAL
    NEWS
    GALLERY
    LINKS
    FORUM
    USER POSTS
    GAMING
*/

/* GENERAL */
p {
    font-size: 1.2rem;
    color: rgb(29, 29, 29);
    font-weight: 500;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom:1.8rem;
}

.title {
    font-size: 3rem;
}

body {
    font-family:Arial;
}

.hero {
    padding-bottom: 3.5rem;
    background-color: var(--bg);
    box-shadow: inset 0rem -3.5rem 2rem -2rem var(--mbg);
    padding-top: 2rem;
}

.header {
    margin-bottom: 3rem;
    background-color: var(--bg2);
}

.footer {
    background-color: var(--mbg);
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.footer .column {
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
}

.hero-footer {
    padding-bottom: 2rem;
}

a {
    text-decoration: none;
    font-style: none;
    color: rgb(61, 61, 61);
}

.my-a {
    text-decoration: underline;
    font-style: italic;
    font-weight: 600;
    color: rgb(50, 43, 255);
}

.gogogo {
    font-size: 2rem;
}
.date{
    font-size: 80%;
}

.section_name {
    font-size: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline;
}

/* NEWS */
.one_new {
    display: inline;
    padding-left: 1rem;
}

/* GALLERY */
.gallery_pick{
    background-color: rgb(255, 255, 255);
    box-shadow: var(--shadow);
    padding:0.5rem;
    height: min-content;
}
 .upperbutt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    flex-wrap: wrap;
}

.butt {
    border: 0.25rem;
    border-style: solid;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.2rem;
}

.butt h1 {
    font-size: 2rem;
}

/* LINKS */
.hyper_link .cell {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.hyper_link .cell h1 {
    padding: 1.2rem;
    text-decoration: underline;
    font-style: italic;
    font-weight: bolder;
    font-size: 2.2rem;
}

.hyper_link .jump-grid {
    margin: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.hyper_link .jump {
    margin: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: var(--shadow);
    background-color: rgb(253, 253, 253);
}

.hyper_link .jump p {
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* FORUM */
.forum .cell {
    margin-bottom: 1rem;
}
.featured_post {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(248, 248, 248);
    border-radius: 2rem;
    position: relative;
    box-shadow: var(--shadow);
}

.featured_post .user_info {
    display: inline-flex;
    align-items: center;
    background-color: rgb(169, 223, 60);
    padding-right: 1rem;
    padding-left: 0.5rem;
    border-radius: 2rem;
}

.featured_post .user_info .image {
    border-radius: 2rem;
    margin: 0.3rem
}

.featured_post .user_info .title {
    margin-left: 0.5rem;
    font-size: 2rem;
}   

.featured_post .message {
    display: inline-flex;
    align-items: center;
    padding: 0.8rem;
}

.featured_post .reply_button{
    position: absolute;
    height: 32px;
    width: 70px;
    background-color: rgb(205, 205, 205);
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 0.8rem;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.featured_post .reply_button:before {
    content: attr(hover-data);
    visibility: hidden;
    opacity: 0;
    width: 100px;
    position: absolute;
    transition: visibility 2s, opacity 2s;
    transition-delay: 2s;
    top: -1.5rem;
    right: 5rem;
    width: 10rem;
    background-color: yellowgreen;
    padding: 0.5rem;
    border-radius: 0.3em;
    font-weight: bold;
    z-index: 1;
}

.featured_post .reply_button:active:before {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s;
}

/*USER POSTS*/
.post_box {
    background-color: rgb(254, 255, 171);
    border-radius: 2rem;
    padding: 0;
    margin: 3rem;
    height: min-content;
}

.post_box .poster_info {
    border-bottom: solid;
    border-color: var(--bg);
    border-bottom-width: 0.5rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 232);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 0.5rem;

}

.post_box .subtitle {
    padding: 1rem;
}

.post_box .poster_info .title {
    margin-left: 1rem;
    font-size: 2rem;
}

.post_box .poster_info .image {
    border-radius: 2rem;
}

/* GAMING */
.profiles_grid {
    display: flex;
    flex-wrap: wrap;
}

.one_profile {
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    box-shadow: var(--shadow);
}

.one_profile .image{
    max-height: 6rem;
    max-width: 6rem;
}

.one_profile .title {
    font-size: 2rem;
}

.profile_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;   
}
.p_item2 {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.p_item2 p {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
.p_item3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0.5rem;
}
.p_item3 p {
    margin: 0.1rem;
}
.pdate {
    font-size: 100%;
    font-style: italic;
}  